@using OnlineAcademy.Areas.StudentArea.Data;
@using Microsoft.AspNet.Identity
@model StudentLoginViewModel
@{
    Layout = null;
    ViewBag.Title = "StudentLogin";
}


@if (User.Identity.IsAuthenticated)
{
    <section class="text-center" style="margin-top:10%;">
        <h4>انت بالفعل تم تسجيل دخولك </h4>
        <a href="~/Home/welcom" class="btn btn-light" style="background-color:#2979ff;color:#fff;border-radius:25px;">استمرار</a>
        @using (Html.BeginForm("LogOff", "Account", new { area = false }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" id="logout" class="btn btn-light" style="background-color:#2979ff;color:#fff;border-radius:25px;">خروج</a>
        }
    </section>
}
else
{
    <hr />




    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Online Academy | Log in</title>

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
        <!-- icheck bootstrap -->
        <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="#"><b>Online Acasemy</b>OC</a>
            </div>
            <!-- /.login-logo -->
            @using (Html.BeginForm("StudentLogin", "StudentAccount", new {area= "StudentArea", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="card">
                    <div class="card-body login-card-body">
                        <p class="login-box-msg">تسجيل الدخول</p>

                        <form action="../../index3.html" method="post">
                            <div class="input-group mb-3">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-right", placeholder = "البريد الالكتروني" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control text-right", placeholder = "كلمه المرور" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="icheck-primary">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe, "تذكرني")

                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block"> دخول</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                        <div class="social-auth-links text-center mb-3">
                            <p>- OR -</p>
                            <a href="#" class="btn btn-block btn-primary">
                                <i class="fab fa-facebook mr-2"></i> تسجيل الدخول بواسطه فيس بوك
                            </a>
                            <a href="#" class="btn btn-block btn-danger">
                                <i class="fab fa-google-plus mr-2"></i> تسجيل الدخول باستخدام جوجل
                            </a>
                        </div>
                        <!-- /.social-auth-links -->

                        <p class="mb-1 text-right">
                            <a href="forgot-password.html">نسيت كلمه المرور</a>
                        </p>
                        <p class="mb-0 text-right">
                            <a href="@Url.Action("Registration","Account",new { area=false})">انشاء حساب جديد</a>
                        </p>
                    </div>
                    <!-- /.login-card-body -->
                </div>
            }
        </div>
        <!-- /.login-box -->
        <!-- jQuery -->
        <script src="~/Content/plugins/jquery/jquery.min.js"></script>
        <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/dist/js/adminlte.min.js"></script>
    </body>
</html>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


