
@{
    ViewBag.Title = "Registration";
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Online Academy | Registration</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Online Academy</b>OC</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg"> انشاء حساب جديد</p>

                <form action="../../index3.html" method="post">
                    <div class="input-group mb-3">
                        <a href="@Url.Action("Register","StudentAccount",new { area="StudentArea"})" class="btn btn-block btn-outline-secondary btn-lg">طالب</a>
                        <div class="input-group-append">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <a href="@Url.Action("","",new { area=""})" class="btn btn-block btn-outline-secondary btn-lg">مدرس خاص</a>
                        <div class="input-group-append">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <a href="@Url.Action("","",new { area=""})" class="btn btn-block btn-outline-secondary btn-lg">مدرس حكومي</a>
                        <div class="input-group-append">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <a href="@Url.Action("","",new { area=""})" class="btn btn-block btn-outline-secondary btn-lg">دكتور جامعي</a>
                        <div class="input-group-append">
                        </div>
                    </div>

                </form>

                <p class="mb-0 text-right">
                    <a href="@Url.Action("Login","Account",new { area=false})">لدي حساب بالفعل </a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/dist/js/adminlte.min.js"></script>
</body>
</html>